<div class="container">
  <div class="row mb-3">
    <ng-container *ngIf="date$ | async as choosenDate">
      <div class="col-12 col-sm-4 d-flex d-sm-block justify-content-center">
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Date"
            [formControl]="date"
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </ng-container>
    <div class="col-12 col-sm-4 d-flex justify-content-center align-items-center">
      Duration: {{ duration | timeReadable }}
    </div>
  </div>
  <app-task-list></app-task-list>
  <ng-container *ngIf="!isRunning">
    <div class="row mb-3">
      <div class="col">
        <app-new-task (create)="createTask($event)"></app-new-task>
      </div>
    </div>
  </ng-container>
</div>
