<mat-card>
  <div class="d-flex justify-content-between">
    <mat-card-title>
      <span>{{ item.name }}</span>
      <button
        mat-icon-button
        ngxClipboard
        [cbContent]="item.name"
        matTooltip="Copy title"
      >
        <mat-icon>file_copy</mat-icon>
      </button>
    </mat-card-title>
    <span>
      <button
        mat-icon-button
        ngxClipboard
        [cbContent]="item.name + ' ' + item.description"
        matTooltip="Copy title with description"
      >
        <mat-icon>file_copy</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="removeClicked($event)">
        <mat-icon>close</mat-icon>
      </button>
    </span>
  </div>
  <mat-card-content class="d-flex flex-column flex-md-row">
    <div class="container p-0">
      <div class="row mb-2" *ngIf="item.description?.length > 0">
        <div class="col-12">
          {{ item.description }}
        </div>
      </div>
      <div class="row">
        <div
          class="col-12 col-md-6 d-flex justify-content-between align-items-center"
        >
          <div>Started at: {{ item.startedAt | date: 'shortTime' }}</div>
          <div *ngIf="item.isFinished">
            Finished at: {{ item.finishedAt | date: 'shortTime' }}
          </div>
          <div>Duration: {{ item.duration | timeReadable }}</div>
        </div>
        <div
          class="col-12 col-md-6 d-flex justify-content-end"
          *ngIf="!item.isFinished"
        >
          <div [ngSwitch]="item.status">
            <button
              *ngSwitchCase="Status.New"
              mat-button
              color="primary"
              (click)="startClicked($event)"
              [disabled]="isOnHold"
            >
              Start
            </button>
            <button
              *ngSwitchCase="Status.Started"
              mat-button
              (click)="finishClicked($event)"
            >
              Finish
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
