<ng-container *ngIf="tasks$ | async as tasks">
  <ng-container *ngFor="let item of tasks">
    <div class="row mb-3">
      <div class="col">
        <app-task
          [item]="item"
          (started)="startTask($event)"
          (resumed)="resumeTask($event)"
          (finished)="finishTask($event)"
          (removed)="removeTask($event)"
          [isOnHold]="isRunning"
        ></app-task>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="isLoading$ | async">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <!-- TODO: add loadedr -->
      loading
    </div>
  </div>
</ng-container>
