<mat-card>
  <mat-card-title>New task</mat-card-title>
  <mat-card-content class="d-flex flex-column flex-md-row">
    <form
      class="d-flex flex-column w-100"
      [formGroup]="createTaskForm"
      (ngSubmit)="createTaskForm.valid && onSubmit()"
    >
      <div
        class="d-flex flex-column flex-md-row justify-content-md-between w-100"
      >
        <mat-form-field class="w-100">
          <input
            matInput
            placeholder="Name"
            type="text"
            formControlName="name"
            autocomplete="off"
          />
        </mat-form-field>
        <div class="d-flex align-items-center">
          <button mat-button [disabled]="!createTaskForm.valid">
            Create new
          </button>
        </div>
      </div>
      <mat-form-field class="w-100">
        <input
          type="text"
          matInput
          placeholder="Description"
          formControlName="description"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
